/* this css code just in case the stylesheet link didn't work */
* {box-sizing: border-box;}

.DivSlide {
  
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

.container{
  font-size:20px;
  padding-left:10px;
  font-family:Arial,serif;
  margin: auto;
  width: 80%;
  border: 2px inset black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.Slide-images{
  height:600px;
  margin-left:120px;

}

.body-img{
  width:100%;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





#day-trip-title{
  color:rgb(252, 105, 0);
  text-align:center;
}

#body-Id{
background-color:rgb(235, 235, 235);
  font-family: Verdana, sans-serif;
}

#Titles-ul{
  background-color:rgb(219, 235, 255);
}
a:hover, a:active{
  background-color: rgb(109, 181, 186);
}

